.create-post-component {
  background-color: #fff;
  padding: 20px;
  border-radius: .6rem;
  box-shadow: 0 4px 5px #00000050;
}

.input-text-post {
  min-width: 100%;
  max-width: 100%;
  min-height: 200px;
  max-height: 200px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: transparent;
}

.create-post-buttons {
  gap: 20px;
}

.create-post-more-action-button {
  width: 60px;
  height: 60px;
  background-color: transparent;
  color: var(--color);
}

.create-post-more-action-button:hover {
  background-color: var(--background-color);
  border-radius: 50%;
}
