.button-component {
  padding: 10px 20px;
  border: none;
  border-radius: 2rem;
}

.button-component.primary {
  background: var(--primary-gradient);
  color: var(--foreground-color-normal);
}

.button-component.secondary {
  background-color: transparent;
  border: 2px solid var(--primary-color-normal);
  color: var(--primary-color-normal);
}

.button-component.link {
  background-color: transparent;
  border: none;
  color: var(--primary-color-normal);
  padding: 0;
  text-decoration: underline;
}
