:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color: #1089ff;
  --color-inactive: #3291f1;
  --color-hover: #0b72d8;
  --background-color: #f4f6ff;
  --error-color: #ff1012;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  background-color: var(--background-color);
}

::selection {
  background-color: var(--color);
  color: var(--background-color);
}

.page {
  width: 100%;
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color);
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 22px;
}

img {
  user-select: none;
}

button {
  padding: 10px;
  border: none;
  cursor: pointer;
}

.fccc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.fca {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

.fcac {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.frcc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.frcl {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 10px;
}

.tcl {
  width: 100%;
  text-align: left;
}

.tcr {
  width: 100%;
  text-align: right;
}

.tcc {
  width: 100%;
  text-align: center;
}
